<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- connection details -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eshopg?characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!--properties-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <!-- @see: http://community.jboss.org/wiki/HibernateCoreMigrationGuide36 -->
        <property name="hibernate.jdbc.use_streams_for_binary">false</property>

        <!-- mappings for annotated classes -->
        <mapping class="eshopGery.model.ShoppingItem"/>
        <mapping class="eshopGery.model.Order"/>

    </session-factory>
</hibernate-configuration>